
<div class="content">

	<div class="content-box">

		<div class="main-content-column">
		
			<div class="content-frame">

				<div class="content-panel">

					<div class="home-profile-header">

						<div class="home-profile-image">

							<%= image_tag @user.image.url(:medium) %>

						</div>

						<div class="home-profile-text">

							<h2 class="name"><%= @user.display_name %></h2>

							<h4>Producer</h4>


							<h6>

								<% if current_user.bio %>

									current_user.bio

								<% else %>

									Just another resident of the 10th Nation.

								<%end%>

							</h6>

						</div>

						<div class="home-profile-citizenship">

							<span class="citizen-badge">Citizen</span>

						</div>

					</div>


					<div class="tabular-data">

						<ul>

							<li><a class="tabular-option active"><span class="tabular-data-header">Posts</span><br><span>122</span></a></li>
							<li><a class="middle tabular-option"><span class="tabular-data-header">Followers</span><br><span>122</span></a></li>
							<li><a class="tabular-option"><span class="tabular-data-header">Friends</span><br><span><%= @user.tracks.count %></span></a></li>

						</ul>

					</div>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>Maybe jsut a formatted twitter feed</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>For Sale</h4>

			<% @last_5_user_tracks.each do |track| %>

				<div class="content-frame stacked">

					<div class="content-panel list tracks" id="<%= track.id%>" href="<%= track.mp3.url%>" data-name="<%= track.name%>" data-author="<%= track.user.display_name%>"  data-price="<%= number_to_currency(track.price) %>">

						<span class="track-name"><%= track.name%></span><span class="track-price"><%= number_to_currency(track.price) %></span>

					</div>

				</div>


			<%end%>

			<br>

			<h4>Requests</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>