
<div class="content">

	<div class="content-box">

		<div class="main-content-column">
		
			<div class="content-frame">

				<div class="content-panel">

					<div class="home-profile-header">

						<div class="home-profile-image">

							<%= image_tag @user.image.url(:medium) %>

						</div>

						<div class="home-profile-text">

							<h2 class="name"><%= @user.display_name %></h2>

							<h4>Producer</h4>

						</div>

					</div>


					<div class="home-profile-about">

							<h3>About Me</h3>

							<p>From floating in the Dead Sea or better yet touching the Sphinx, standing on Mount Everest, praying with the Monks in India or traveling illegally into Mexico, all manifested not because of what he could pay or because of who he is but because he was seeking the answer to the most critical question that has been asked for centuries by Alchemist, Artist, Magi, Sages and Wizards “ What is truth?” The answer he found “ The truth is the best of what is in me, the best in us all”.</p>

					</div>

					<div class="tabular-data">

						<ul>

							<li><a><span class="tabular-data-header">Followers</span><br><span>122</span></a></li>
							<li><a class="middle"><span class="tabular-data-header">Views</span><br><span>122</span></a></li>
							<li><a><span class="tabular-data-header">Tracks</span><br><span><%= @user.tracks.count %></span></a></li>

						</ul>

					</div>

				</div>

			</div>

			
			<h3>To the Nation:</h3>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Maybe jsut a formatted twitter feed</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>


			<br>

			<h3>Similar Citizens</h3>

			<div class="content-frame">

				<div class="content-panel">

					Elise in the house

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>For Sale</h4>

			<% @last_5_user_tracks.each do |track| %>

				<div class="content-frame stacked">

					<div class="content-panel tracks" id="<%= track.id%>" href="<%= track.mp3.url%>">

						<span class="track-name"><%= track.name%></span><span class="track-price"><%= number_to_currency(track.price) %></span>

					</div>

				</div>


			<%end%>

			<br>

			<h4>Requests</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>