<div class="modal-container" id="settings">

  <div class="modal-content">

  	<h3>Account Settings</h3>

    <span class="dismiss-modal">+</span>

	<div class="horizontal-sub-nav">

		<ul>

			<li><a class="option-item active" id="basic-option"><span>Basic Info</span></a></li>
			<li><a class="option-item middle"  id="payment-option"><span>Payments</span></a></li>
			<li><a class="option-item" id="cancel-option"><span>Cancel Account</span></a></li>

		</ul>

	</div>

    <%= form_for(current_user, url: registration_path(current_user), html: { id: "basic", method: :put, class: "modal-form" }) do |f| %>

    	<div class="form-section">
			<h5>Email</h5>
			<%= f.email_field :email, autofocus: true %>
		</div>

		<div class="form-section">
			<h5>Display Name</h5>
			<%= f.text_field :display_name %>
		</div>

		<div class="form-section">
			
			<h5>Profile Picture</h5>

			<%= image_tag current_user.image.url(:medium) %>

			<%= f.file_field :image, class: "form-control" %>

		</div>

		<div class="form-section centered">
			<%= f.password_field :current_password, autofocus: "on" %>
		</div>

		<div class="form-section centered">
			<%= f.submit "Update Profile", class: "modal-form-submit" %>
		</div>

	<% end %>

	<%= form_for(current_user, as: :user, url: edit_registration_path(current_user), html: { id: "payments", method: :put }) do |f| %>

		<div><%= f.label :email %><br />
		<%= f.email_field :email, autofocus: true %></div>

		<div><%= f.label :display_name %><br />
		<%= f.text_field :display_name %></div>

		<%= f.file_field :image, class: "form-control" %>

		<div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
		<%= f.password_field :password, autocomplete: "off" %></div>

		<div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, autocomplete: "off" %></div>

		<div><%= f.submit "Update Profile" %></div>

	<% end %>

  </div>


</div>

