<!DOCTYPE html>
<html>
<head>
  <title>Goldprism</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>

<% unless @hide_menus%>

	<%# render 'layouts/header' %>

	<%= render 'layouts/sidebar' %>

	<%= render 'layouts/sub_header' %>

<%end%>


<div class="content-container">

	<div class="header-offset">

		<%= render 'layouts/context_cta' %>

		<%= yield %>

	</div>

</div>

<div class="content-transparency">

</div>

<%= render 'modals/login_modal' %>

<%= render 'modals/join_modal' %>

</body>
</html>
