<!DOCTYPE html>
<html>
<head>
  <title>Goldprism</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% unless @hide_menus%>

	<%# render 'layouts/header' %>
	<%= render 'layouts/sub_header' %>

	<% if user_signed_in? %>
		<%= render 'layouts/sidebar' %>
	<%end%>

<%end%>


<div class="content-container">

	<div class="header-offset">

		<%# if user_signed_in? %> <!-- save this for later under different conditions -->

			<%# render 'layouts/context_cta' %>

		<%#end%>

		<%= yield %>

	</div>

</div>

<%= render 'modals/login_modal' %>

<%= render 'modals/join_modal' %>

<% if user_signed_in? %>
	<%= render 'modals/account_settings_modal' %>
<%end%>

</body>
</html>
